<phpunit backupGlobals="false" bootstrap="tests/bootstrap.php" colors="true">
	<testsuites>
		<testsuite name="WP to diaspora*">
			<directory prefix="tests-" suffix=".php">tests</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">.</directory>
		</whitelist>
	</filter>
	<php>
		<const name="AUTH_KEY" value="put your unique phrase here"/>
	</php>
</phpunit>
